.content {
  grid-area: c;
  background-color: rgb(220, 224, 227);
}

.content .presswall {
  border-radius: 20px;
  padding: 15px;
  /* width: ;
    height:; */
}

.content .avatar {
  width: 100px;
  border-radius: 100px;
  padding: 15px;
}
